/*body {*/
/*background-image: url("images/background.jpg");*/
/*}*/

.page-header {

}

.header-container {
  max-width: 1280px;
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.page-body {

}

.piano-container {
  width: 1280px;
  margin: 80px auto;
}

.white-key {
  height: 180px;
  cursor: pointer;
  width: 50px;
}

.black-key {
  cursor: pointer;
  background: #1b1e21;
  width: 25px;
  height: 120px;
  margin-right: 10px
}

.black-key:nth-child(3),
.black-key:nth-child(11),
.black-key:nth-child(13),
.black-key:nth-child(21),
.black-key:nth-child(23),
.black-key:nth-child(6),
.black-key:nth-child(8),
.black-key:nth-child(16),
.black-key:nth-child(18) {
  margin-left: 35px
}

.white-key:hover, .black-key:hover {
  background: lightgrey;
}

.white-key:active, .black-key:active {
  background: grey;
}

.keys-container {
  position: relative;
}

.black-keys-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 23px;
}

.white-keys-container {
  display: flex;
}
